/* Overall layout */
.movie-detail-container {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

/* Button styling */
.movie-detail-container .btn-secondary {
  color: #fff;
  background-color: #ff9f00;
  border-color: #ff9f00;
  transition: background-color 0.3s, border-color 0.3s;
}

.movie-detail-container .btn-secondary:hover {
  background-color: #e6b800;
  border-color: #e6b800;
}

/* Movie Title and Badge */
.movie-info h1 {
  font-size: 2rem;
  color: #333;
}

.movie-info .badge {
  background-color: #ffcc00;
  color: #333;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

/* Rating and Votes */
.movie-info .text-warning {
  color: #ff9f00;
  font-size: 1.5rem;
  font-weight: bold;
}

.movie-info .text-muted {
  font-size: 1rem;
  color: #666;
}

/* General Movie Information */
.movie-info p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
}

/* Poster Image Styling */
.movie-detail-container img {
  max-width: 100%;
  height: auto;

  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}


.badge-item {
  display: inline-block;
  background-color: snow;
  color: #333;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.badge-item:hover {
  background-color: #d1d1d1;
}

.inblock{
  display: inline-block;
}

.movieDetail-boder-right{
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px black solid;
}

#root > div > div > div.col-md-3 > div:nth-child(2) > button {
  width: 100%;
  margin-top: 15px;
}