.movie-detail-container {
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  margin-top: 20px;
}

.movie-detail-container .btn-secondary {
  color: #fff;
  background-color: #ff9f00;
  border-color: #ff9f00;
  transition: background-color 0.3s, border-color 0.3s;
}

.movie-detail-container .btn-secondary:hover {
  background-color: #e6b800;
  border-color: #e6b800;
}

.movie-info h1 {
  font-size: 2rem;
  color: #333;
}

.movie-info .badge {
  background-color: #ffcc00;
  color: #333;
  font-size: 1rem;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.movie-info .text-warning {
  color: #ff9f00;
  font-size: 1.5rem;
  font-weight: bold;
}

.movie-info .text-muted {
  font-size: 1rem;
  color: #666;
}

.movie-info p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 10px;
  text-align: left;
}

.movie-detail-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.badge-item {
  display: inline-block;
  background-color: snow;
  color: #333;
  padding: 5px 10px;
  border-radius: 15px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.badge-item:hover {
  background-color: #d1d1d1;
}

/* Inline Block for Info Labels */
.inblock {
  display: inline-block;
}

.movieDetail-boder-right {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid black;
}

/* Full-width Button Styling */
#root > div > div > div.col-md-3 > div:nth-child(2) > button {
  width: 100%;
  margin-top: 20px;
}

.review-container {
  padding: 20px;
  border: 1px solid #eaeaea;
  border-radius: 20px;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rating-columns {
  display: flex;
  justify-content: space-between;
}

.rating-header-column {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
  border-right: 1px solid #eaeaea;
}

.rating-bars-column {
  flex: 2;
  padding-left: 20px;
}

.rating-header {
  font-size: 1rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #333;
}

.rating-header .star-icon {
  color: #ff9f00;
  margin-right: 5px;
  font-size: 1.2rem;
}

.rating-header .score {
  font-weight: bold;
  color: #333;
}

.rating-header .text-muted {
  margin-left: 5px;
  font-size: 0.8rem;
  color: #666;
}

.rating-bar-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.rating-bar-container .rating-label {
  width: 30px;
  font-size: 0.8rem;
  color: #666;
  text-align: left;
}

.rating-bar {
  flex-grow: 1;
  height: 8px;
  background-color: #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
  margin-left: 8px;
  position: relative;
}

.rating-bar-inner {
  height: 100%;
  border-radius: 4px;
  background-color: #ff9f00;
  transition: width 0.3s ease-in-out;
}

.rating-count {
  margin-left: 8px;
  font-size: 0.8rem;
  color: #666;
  width: 30px;
  text-align: right;
}
.movie-description-title {
  font-size: 1.5rem;
  color: #333;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 8px;
  border-bottom: 2px solid #ff9f00; 
  display: inline-block;
}

.movie-description-text {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
  margin-top: 10px;
  text-align: left;
}

