.forgot-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 48vh;
  background-color: #f9f9f9;
  padding: 20px;
  }
  
  h2 {
    color: #5c3cc2;
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 14px;
    color: #555;
    text-align: center;
    margin-bottom: 20px;
  }
  
 
  
  .input-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    color: #5c3cc2;
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
  }
  
  .submit-button {
    background-color: #5c3cc2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #4a2fa2;
  }
  
  /*update*/
  .update-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    padding: 20px;
  }
  h2 {
    color: #5c3cc2;
    font-size: 28px;
    margin-bottom: 10px;
  }
  

  
  input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
  }
  
  .toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .submit-button {
    width: 108%;
    background-color: #5c3cc2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #4a2fa2;
  }
  
  /*OTP*/

  .otp-verification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    padding: 20px;
    text-align: center;
  }
  h2 {
    color: #5c3cc2;
    font-size: 28px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    color: #5c3cc2;
    margin-bottom: 20px;
  }
  
  .otp-input-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .otp-input-group input {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 50%;
    margin: 0 5px;
  }
  
  .submit-button {
    background-color: #5c3cc2;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
  }
  
  .submit-button:hover {
    background-color: #4a2fa2;
  }
  