/* Container for the purchased tickets page */
.purchased-tickets-container {
  max-width: 50vw;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: #fff;
  font-size: 36px;
  margin-bottom: 20px;
  text-align: center;
}

/* Styling for each ticket card */
.ticket-card {
  position: relative;
  background-color: #222;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s;
  color: #fff;
  margin-bottom: 3%;
}

.ticket-card:hover {
  transform: scale(1.05);
}

/* Ticket image styling */
.ticket-image {
  width: 20%;
  height: 100%;
  object-fit: cover;
  border-bottom: 2px solid #ff4444;
  float: left;
  margin-right: 20px;
}

/* Ticket details section */
.ticket-details {
  padding: 15px;
}

/* Event name */
.ticket-details h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

/* Ticket information */
.ticket-details p {
  margin: 5px 0;
  font-size: 16px;
}

.ticket-details > p {
  color: white;
  text-align: start;
}

.btn-payment{
  position: absolute;
  right: 8%;
  bottom: 4%;
}

.btn-cancel{
  position: absolute;
  right: 1%;
  bottom: 4%;
}