  .list-group-item {
    cursor: pointer;
  }
  
  .list-group-item.active {
    background-color: #007bff;
    color: white;
  }
  
  .card {
    margin-top: 20px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .btn-primary {
    margin-top: 10px;
  }

  .card-infor>.card-body{
    background-color: #4F75FF;
  }

  .form-label-info{
    color: white;
    font-weight: 500;
    font-size: 17px;
  }

  .avt-account.img-fluid.rounded-circle{
    cursor: pointer;
  }

  .avt-account.img-fluid.rounded-circle:hover{
    opacity: 0.8;
  }